/* index.css or any other global CSS file */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styling to hide it */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
